# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.log
*.pot
*.py[cod]
*.so
*.swp
*.swo
media
staticfiles

# Django migrations
*/migrations/*

# Virtualenv
venv/
.env/
.venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
